local.properties
**log.txt
config
*.log
*.swp
.DS_Store
*.sublime-project
*.sublime-settings
*.sublime-workspace
/.project
/salesforce.schema
.idea/
*.iml
/.sfdx/
/tags

# Added by Illuminated Cloud
.localdev/
/IlluminatedCloud/
/out/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
**/graphql.config.yml